* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: 'Abel', sans-serif;
  margin: 1em;
}


h1 {
  text-align: center;
  color: rgb(130, 131, 147);
}
section {
  display: block;
  float: left;
}
.section-box{
 margin:1em;
 border: 1.5px solid rgb(130, 131, 147);
 background-color: white;

}

p {
  margin-top: 2.5em;
  margin-left: 0.7em;
  margin-right: 0.7em;
  color: rgb(107, 107, 121);
}

section h2{
  border-bottom: 1.5px solid rgb(130, 131, 147);
  border-left: 1.5px solid rgb(130, 131, 147);
  text-align: center;
  float: right;
  width: 6em;
  margin: 0;
  color: rgb(130, 131, 147);
}
.section-1 h2 {
 background-color: rgb(252, 243, 192);
}

.section-2 h2 {
  background-color: rgb(250, 135, 163);
}

.section-3 h2 {
  background-color: rgb(183, 227, 176);
}




@media (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 991px) {
  .section-1, .section-2 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  section {
    width: 33.3333%;
  }
}
